/* Reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f3f5fc;
}

/* Centralizar */

button,
footer,
canvas,
.social {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Cor : azul escuro */

h1,
a {
  color: #0a3871;
}

button {
  background-color: #0a3871;
}

/* Header */

header {
  display: flex;
  align-items: center;
  padding: 20px 35px;
}

header img {
  margin-right: 20px;
}

/* Campos */
.campos {
  text-align: center;
}

button {
  display: block;
  width: 30vw;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 20px 15px;
  font-size: 1.35em;
  color: white;

  opacity: 0.8;
  transition: 0.6s;
}

button:hover {
  opacity: 1;
}

#iniciar-jogo {
  margin-bottom: 40px;
}

input {
  outline: 1px solid black;
  border: none;
  width: 50vw;
  height: 15vh;
  font-size: 1.35em;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f3f5fc;
}

.campos input {
  border-radius: 10px;
}

/* Canvas */
canvas {
  display: block;
  border: 1px solid black;
  margin-top: 35px;
  border-radius: 10px;
}

/* Footer */
footer {
  font-size: 1.2em;
  padding: 35px 0;
}

footer a {
  text-decoration: none;
  font-weight: bold;
}

.social img {
  width: 32px;
}
